html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}

.header {
    width: 100%;
    height: 5%;
    box-shadow: 0.5px 0.5px 0.5px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #397cbf;
    color: #fff;
}

.header>.title {
    font-family: sans-serif;
    margin: 0 10px;
}

.menu {
    position: absolute;
    margin: 0 -680px;
    padding: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-image: url('img/menu.png');
    background-size: cover;
}

.ul {
    position: absolute;
    width: 260px;
    display: flex;
    justify-content: center;
    margin: -430px 0px;
}

.ul>li {
    display: inline-flex;
    border-width: 1px 1px 1px 1px;
    box-shadow: 0.5px 0.5px 0.5px 1px grey;
    margin: 0 50px 0 0;
    padding: 0 10px;
    cursor: pointer;
    border-radius: .1em;
    width: 10px;
    height: 30px;
    left: 0;
}

.ul>li:nth-child(1) {
    background-image: url('img/ic_action_about.png');
    background-size: contain;
}

.ul>li:nth-child(2) {
    background-image: url('img/ic_action_settings.png');
    background-size: contain;
}
.selected {
    background-color: #397cbf;
    color: #fff;
    box-shadow: 0.1px 0.1px 0.1px 0.5px grey;
    left: 20px;
}

.avatar {
    position: absolute;
    margin: -330px 100px;
    width: 100px;
    height: 100px;
    background-image: url('img/user-default.png');
    background-size: cover;
    border-radius: 7em;
    opacity: 0;
    transform: translate(-200px) rotate(180deg);
}

.avatar:hover {
    transform: rotate(-180deg);
    cursor: pointer;
}
.animateIn {
    animation: animateIn 1s ease-in-out forwards;
}

@keyframes animateIn {
    from {transform: translateX(-200px) rotate(180deg)}
    to {transform: translateX(0px) rotate(0deg); opacity: 1}
}
/* ------- Forms --------------- */
.cards {
    width: 310px;
    height: 900px;
    margin: 1px 0;
    float: left;
    padding: 0;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    background-color: rgba(0,0,0,.7);
    overflow-y: hidden;
    transition: 300ms ease-in-out;
    transform: translateX(-400px);
}

.active {
    transform: translateX(0px);
}
.errorDisplay {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: -300px 80px;
    padding: 0;
    background-image: url(img/add_person.png);
    background-size: cover;
    background-color: mediumseagreen;
    border-radius: .5em;
    display: none;
}

.errorDisplay>h3 {
    position: absolute;
    width: 300px;
    margin: 105px -100px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    color: darkcyan;
}

.addUser {
    display: block;
}
.info>ul{
    width: 190px;
    height: 100px;
    margin: 120px 20px;
    padding: 0;
    display: block;
}

.info>ul li {
    margin: 16px 10px;
    height: 30px;
    width: 240px;
    font-family: sans-serif;
    font-size: 15px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px steelblue;
    background-color: #20b2aa;
    border-radius: .5em;
    color: #fff;
    text-shadow: 0.5px 0.5px 0.5px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-in-out;
    transform: scale(1);
}

.info>ul li:hover {
    transform: scale(1.1);
    background-color: #FF4D00; 
    cursor: pointer;
}
 .settings {
    position: absolute;
    margin: -270px 10px;
    width: 300px;
    height: 250px;
    font-family: sans-serif;
    font-size: 12px;
    color: #fff;
}
.settings h3 {
    margin: 15px -10px;
    width: 300px;
    text-align: center;
}
.settings input {
    width: 150px;
    border: 1.5px solid seagreen;
    font-family: sans-serif;
    padding: 4px;
}

.settings #userSalary {
    width: 100px;
}
.settings #saveBTN {
    width: 200px;
    margin: 20px 40px;
    background-color: darkseagreen;
    border: 1px solid darkseagreen;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.info {
    position: absolute;
    margin: -200px 10px;
    width: 250px;
    height: auto;
}
.settings {
    opacity: 0;
    transform: scale(0.5)
}

.info {
    opacity: 1;
    transform: scale(1);
}

.notifications {
    float: left;
    margin: -70px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 70px;
    background-color: darkgoldenrod;
    color: #fff;
    transform: rotateX(90deg) scale(0);
}


.notifications>p {
    font-family: sans-serif;
    font-size: 13px;
    width: 210px;
}

.showNotify {
    animation: displayNotify 300ms ease-in-out forwards;
}

@keyframes displayNotify {
    0% {transform: rotateX(90deg) scale(0.5);}
    100% {transform: rotateX(0deg) scale(1);}
}

.switchIn {
    animation: switchIn 500ms ease-in forwards;
}

@keyframes switchIn {
    0% {opacity: 0; transform: scale(0)}
    50%, 100%{opacity: 1; transform: scale(1)};
}

.switchOut {
    animation: switchOut 300ms ease-in forwards;
}

@keyframes switchOut {
    0% {opacity: 1; transform: scale(1)}
    50%, 100% {opacity: 0; transform: scale(0)};
}
/* ------------------------------*/



/*---------ADD EXPEMSE CONTROLS --*/
.controls {
    margin: 80px 370px;
    padding: 0;
    width: 890px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.controls ul li{
    display: inline-block;
    padding: 5px;
    margin: 10px;
    font-family: sans-serif;
    font-size: 14px;
}

.controls ul li input {
    padding: 3px;
    font-family: sans-serif;
    font-size: 12px;
}

.controls ul li #addExpense {
    width: 120px;
    height: 30px;
    margin: 0 273px;
    border: .5px solid #008080;
    background-color: #008080;
    color: #fff;
    outline-color: #008080;
    cursor: pointer;
    top: 0;
    left: 0;
}

.controls ul li #addExpense:hover {
    background-color: steelblue;
}

.categoryNotifications {
    position: absolute;
    width: 300px;
    margin: 35px 650px;
    text-align: center;
    color: #fff;
    background-color: black;
    font-family: sans-serif;
    font-size: 12px;
    transform: translateZ(200px) scale(0);
}

.categoryActiveNotify {
    background-color: black;
    border-radius: .2em;
    color: #fff;
    animation: categoryNotify 300ms ease-in-out forwards;
    
}
@keyframes categoryNotify {
    0%{transform: translateZ(-100px) scale(0)}
    
    100% {transform: translateZ(0px) scale(1)};
}


/* -----------Months-----------------------*/
.monthContainer {
    float: left;
    width: 900px;
    height: 580px;
}

.months {
    float: left;
    width: 400px;
    height: 400px;
    margin: -20px 100px;
    background-color: #fff;
    box-shadow: .5px .5px .5px .5px grey;
    transition: 400ms ease-in-out;
}

.months:hover {
    transform: scale(1.05);
}

.headTitle {
    height: 100px;
    background-color: rgba(0,128,128,.9);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 100;
    transition: 400ms ease-in-out;
}

.left {
    position: absolute;
    margin: 0 -100px;
    width: 40px;
    height: 40px;
  background-image: url('img/ic_action_previous_item.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right {
    position: absolute;
    margin: 0 100px;
    width: 40px;
    height: 40px;
    background-image: url('img/ic_action_next_item.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.expenseDisplay {
    height: 30px;
    background-color: teal;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 17px;
}

.expenseDisplay li {
    display: inline-block;
    font-family: monospace;
    font-size: 14px;
    transition: 500ms ease-in-out;
    text-transform: uppercase;
}
.expenseDisplay li:nth-child(1) {   
    margin-right: 65px;
}

.expenseDisplay li:nth-child(2) {
    font-family: monospace;
    color: #32CD32;
    text-shadow: .4px .4px .4px black;
    font-weight: bold;
}

#monthText {
    position: absolute;
    display: inline-block;
    width: 160px;
    margin: -8px -100px;
    text-align: center;
}

.categoryJan, .categoryFeb, .categoryMar, .categoryApr,
.categoryMay, .categoryJun, .categoryJul, .categoryAug,
.categorySep, .categoryOct, .categoryNov, .categoryDec {
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 250px;
}

.showCategory {
    display: block;
}

.categoryError {
    position: absolute;
    margin: 50px 150px; 
    float: left;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('img/ic_action_error.png');
    background-size: cover;
    transform: rotateY(180deg) scale(0);
}

.showCategoryError {
    animation: rotateIn 300ms ease-in-out forwards;
}

@keyframes rotateIn {
    0%, 50% {transform: rotateY(180deg) scale(0);}
    75%, 100% {transform: rotateY(0deg) scale(1);}
}


.categoryError>h5 {
    font-family: monospace;
    font-size: 16px;
    margin: 100px -50px;
    width: 200px;
    text-align: center;
}

#category {
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    padding: 10px;
    margin: 7px;
    width: 300px;
    animation: flipInCategory 400ms ease-in-out forwards;
}

@keyframes flipInCategory {
    0% {transform: rotateX(90deg)};
    100% {transform: rotateX(0deg)};
}

.trashCan {
    margin: -100px 250px;
    position: relative;
    width: 25px;
    height: 25px;
    background-image: url('img/ic_action_delete.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.trashCan:hover {
    background-image: url('img/ic_action_remove.png');
}

#category:nth-child(1) {
    background-color: #8A2BE2;
}


#category:nth-child(2) {
    background-color: #9370DB;
}

#category:nth-child(3) {
    background-color: #191970;
}

#category:nth-child(4) {
    background-color: #5F9EA0
}

#category:nth-child(5) {
    background-color: #778899;
}

#category:nth-child(6) {
    background-color: #DAA520;
}

#category:nth-child(7) {
    background-color: #A0522D
}

#category:nth-child(8) {
    background-color:  #8B4513;
}

#category:nth-child(9) {
    background-color: #800000;
}

#chartdiv {
    float: left;
    margin: 20px -10px;
    width: 320px;
    height: 300px;
    transition: 500ms ease-in-out;
    background-color: #fff;
    box-shadow: .5px .5px .5px .5px grey;
    cursor: pointer;
}

#chartdiv:hover {
    transform: scale(1.2);
}